.miCarrito{
    padding-top: 9vh;
    display: flex;
    flex-direction: column;
}

.product-card{
    display: block;
    float: left;
}

.cartHeader{
    display: block;
}

.cartHeader h1{
    font-size: 1.5rem;
    width: 100%;
    float: left;
}

.cartHeader Button{
    float: left;
}

cart-content-products{
    display: block;
    clear: both;
}
#root > div:nth-child(2) > div > div.miCarrito > i.quote.right.icon.right{
    float: right;
    display: block;
}
#root > div:nth-child(2) > div > div.miCarrito > i.quote.left.icon{
    display: block;
    float: left;
}

#root > div:nth-child(2) > div > div.miCarrito > h1{
    font-size: 5rem;
}