.barra-nav .menu{
    height: 5em;
}
.barra-nav .ui.menu .item{
    padding: 0px 14px;
    font-size: 0.95em;
}
.ui.icon.input>input {
    width: 9em;
}

.ui.menu .item>img:not(.ui) {
    width: 68px;
    border-radius: 24px;
}


