@font-face{
    font-family: 'Star Jedi';
    src:url(./fonts/star-jedi_[allfont.es].ttf)
}
*{
    font-family: 'Star Jedi';
}
.pizza-add{
    width: 70%;
    margin: auto;
}

.select-ingrediente{
    width: -webkit-fill-available;
    grid-column: 5/7;
}

.novedad-ingrediente{
 display: grid;
 grid-template-columns: 10% 10% auto auto auto 30%;
 justify-items: end;
}

.novedad-ingrediente .go4079732705{
    width: -webkit-fill-available;

   }

.novedad-ingrediente .ingrediente-select{
   margin: auto;
   grid-column: 5;
   grid-row: 1;
}

.ui.fitted.toggle.checkbox {
  margin: auto;
}

h4{
    margin: auto;
    font-family: 'Star Jedi';
    color: darkorange;
}
.link-ingredientes{
    border: 3px solid rgb(0, 0, 0);
    background-color: black;
    text-align: center;
    border-radius: 15px;
    width: 124px;
    margin-left: -42px;
    color: darkorange;
    -webkit-box-shadow: 10px 9px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 16px 1px rgba(0,0,0,0.75);
}

.ui.vertical.segment:last-child, .home-header {
   background-image: url(https://i.pinimg.com/originals/95/c8/76/95c8769fed9fa3788c5fd516263da6e5.gif);
   background-size: cover;
}

.ui.secondary.menu .item>img:not(.ui) {
    width: 154px;
    margin-left: -42px;
    margin-top: -11px;
    position: absolute;
}
.home{
    border:solid black 1px;
}

.ui.secondary.menu .item>img:not(.ui) {
    width: 127px;
    margin-left: -19px;
    margin-top: -7px;
    position: absolute;
}