@font-face{
    font-family: 'Star Jedi';
    src:url(./fonts/star-jedi_[allfont.es].ttf)
}
*{
    font-family: 'Star Jedi';
}
.pizza-add{
    width: 70%;
    margin: auto;
}

.select-ingrediente{
    width: -webkit-fill-available;
}

.novedad-ingrediente{
 display: grid;
 grid-template-columns: 10% 10% auto 50%;
 justify-items: end;
}

.novedad-ingrediente .go4079732705{
    width: -webkit-fill-available;
   }

.novedad-ingrediente .ingrediente-select{
   margin: auto;
   margin-left: 56%;
}

.ui.fitted.toggle.checkbox {
  margin: auto;
}

h4{
    margin: auto;
    font-family: 'Star Jedi';
}