.pizza-search{
    display: flex ;
    padding: 11px;
<<<<<<< HEAD
=======
   flex-wrap: wrap;
  
>>>>>>> 4c68ffd8a91e87f3f12bcae712d32d3e673b82c1
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: inherit;
    
}

.pizza-search .card{
    margin: 10px;
   
}

.search-card{
    display:flex ;
}

.mensaje{
    display: block;
    width: -webkit-fill-available;
}