/** Base */
.fondo-estrellas html,
body,
div,
h1,
h2,
p,
section,
audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#root{
  margin-top: 10em;
}
.fondo-estrellas .html {
  font-size: 24px;
}

.fondo-estrellas {
  align-items: center;
  background: black;
  color: rgb(229, 177, 58) ;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  line-height: 1.25;
  overflow: hidden;
  background-image: url(http://localhost:3000/estrellas2.jpg);
  flex-direction: column;
  height: 0%;
}

.fondo-estrellas div[id="root"] {
  width: 100%;
}

/** Crawl */

.fondo-estrellas .container {
  height: 56vh;
  position: relative;
  width: 100%;
}

.footer{
  height: 235px;
  display: block;
  width: 355%;
  margin-left: -91%;
}
.map-google{
  height: 235px;
  display: block;
  width: 239%;
  margin-left: -45%;
}


.fondo-estrellas .container:before {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}

.ui.vertical.segment:last-child{
  margin-top: -3em;
}

.fondo-estrellas .intro,
.logo {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 200;
}

.fondo-estrellas .intro p {
  color: rgb(75, 213, 238);
}

.fondo-estrellas .logo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 18rem;
}

.fondo-estrellas .crawl {
  font-size: 278%;
  bottom: 0;
  height: 130rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) perspective(300px) rotateX(28deg);
  transform-origin: 50% 100%;
  width: 100%;
  max-width: 1000px;
  letter-spacing: 2px;
  overflow-y: hidden;
}

.fondo-estrellas .content {
  position: absolute;
  top: 100%;
}

.fondo-estrellas .content p {
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 4rem;
  text-align: justify;
}

.fondo-estrellas .title {
  font-weight: 600;
  margin-bottom: 5rem;
  text-align: center;
}

.fondo-estrellas .subtitle {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 250%;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 7rem;
  transform: scale(1, 1.5);
  text-align: center;
}



